body{
    background: #232323;
}

#headerTxt{
    font-size: 1.4em;
}

#targetedColor{
    font-size: 1.5em;
    font-weight: 500;
}

#btnNewColor:hover, #btnEasyMode:hover, #btnHardMode:hover{
    color: white;
    background: steelblue;
    transition: background 0.65s;
}

.squareBoxHeight{
    height: 120px;
    background: green;
    border-radius: 10%;
}

#btnNewColor,#btnEasyMode,#btnHardMode{
    font-size: 1.5rem;
}

.btnSelected{
    background:teal;
    color: white;
}

.ansMsg{
    font-size: 1.4rem;
}