<%- include("partials/header"); %> 

<div class="container">
    <p class="text-info text-center text-uppercase" id="about">About</p>

    <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nisi sunt eius voluptatibus necessitatibus porro. Laboriosam, consectetur accusamus vero temporibus sed quas earum ducimus repudiandae autem tempore cupiditate sequi natus nostrum animi amet fugit consequuntur, aliquam magnam iusto dicta ex id! Earum in, id culpa quidem iusto perspiciatis natus minus consequatur ab debitis veniam asperiores dicta quibusdam, voluptatem reprehenderit consectetur ratione, aspernatur nesciunt. Odit rem iste minus, exercitationem omnis blanditiis vitae laboriosam praesentium laborum unde saepe a sed illo earum. Possimus eligendi dolorum quae officiis corporis quas tempora quam quaerat. Officiis, modi rem ut aut hic dolore sit aspernatur saepe voluptatibus? Ut accusamus praesentium quisquam ipsum maxime saepe minima nisi unde facere voluptatum quibusdam, quas doloremque rerum consequatur, ducimus et reiciendis eos, non illum maiores! Quos laudantium, assumenda ratione, quas fugit tenetur quam placeat dignissimos aliquam quia dolorum magni vero ab nobis enim repellendus sit. Ad dolorem ullam repellendus beatae.</p>

    <p class="text-capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolor beatae dolores libero officiis sint, temporibus consectetur, amet provident non, sunt perferendis! In ducimus autem, amet voluptatum sint vitae consectetur quod eos quaerat animi quam voluptas fuga quisquam voluptate explicabo commodi dignissimos eveniet tempore earum veritatis ipsam neque aut? Illum autem nihil iste unde, ullam quibusdam! Nobis quae vitae officiis atque iure possimus. Incidunt id ipsam vel dolore eum voluptatibus odio sequi eos quae distinctio temporibus asperiores reiciendis nisi sit explicabo, consequuntur neque tenetur optio et exercitationem voluptate odit ea quia praesentium? Labore harum molestias delectus dolorum, quam dicta sit.</p>

    <p class="text-capitalize">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus non quam cumque inventore, nam facere, obcaecati repudiandae illum, officiis amet optio architecto blanditiis ut illo doloremque! Qui maiores molestiae dignissimos provident at fuga harum, officia tempore!</p>

</div>


<%- include("partials/footer"); %> 