<%- include("partials/header"); %> 


<div class="container-fluid">
    <p class="mt-5 ml-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sequi quis, nihil odio architecto eligendi quisquam eveniet optio dicta natus soluta, quod blanditiis aliquid perspiciatis! Corporis animi reprehenderit fugit in ut quisquam impedit saepe quod voluptatibus corrupti reiciendis, asperiores tempora at, doloribus quos aliquid. Culpa optio, voluptates tempore iusto quod accusamus sed, nam nesciunt vero porro voluptas illo alias aperiam minus ratione repellendus excepturi non est quidem odit eaque repellat! Molestiae ad doloribus deleniti optio suscipit corrupti officiis ducimus cumque. Rerum dolores illum voluptatibus aperiam nihil saepe vitae optio voluptatum dicta enim omnis nam, facere praesentium aut fugiat, culpa quae commodi perferendis. Tenetur libero voluptatibus dolores repellendus soluta mollitia adipisci cum. Porro culpa, quibusdam vel, accusamus maxime suscipit blanditiis ipsam nulla alias minima excepturi. Repellat quas, culpa quibusdam ipsam delectus, repudiandae sed voluptatibus magnam veritatis accusamus, voluptates officia? Sed, eius ullam ipsum error iste commodi quas, magnam nam porro natus necessitatibus est. Corporis quas sed assumenda quos natus in ullam soluta velit incidunt architecto voluptate nisi, fugiat dolor fuga commodi est. Ipsum saepe vitae ad.
    </p>
    
    <div class="text-ce text-center">
        <a href="/posts">
            <button class="btn btn-lg btn-info text-center mb-4">
                Show all posts
            </button>
        </a>
    </div>
</div>



<%- include("partials/footer"); %> 